#ioncard{

    width: 255px;
    margin-left: 50px;
    padding-left: 72px;
    height: 40px;
    padding-top: 7px;
}

.ionbutton{

    width: 215px;
    margin-left: 47px;
}

#center{

    padding-left: 122px;
}