<ion-header>
  <ion-toolbar>
    <ion-title>
      Shop Here
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div *ngFor="let cat of items" class="category-block">
 
    <ion-row no-padding class="category-banner">
      <ion-col text-left button tappable (click)="cat.expanded = !cat.expanded" align-self-center>
        {{ cat.category }}
      </ion-col>
    </ion-row>
 
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let product of cat.products">
        something
      </ion-slide>
    </ion-slides>
 
  </div>
</ion-content>