<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Fare Calculation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  
    <ion-item>
      <ion-label> From: </ion-label>
      <ion-select>

        <ion-select-option value="Mun"> Munshipuliya </ion-select-option>
        <ion-select-option value="IN"> Indra Nagar </ion-select-option>
        <ion-select-option value="BM"> BhootNath Market </ion-select-option>
        <ion-select-option value="LM"> Lekhraj Market </ion-select-option>
        <ion-select-option value="BN"> Badshah Nagar </ion-select-option>
        <ion-select-option value="IT"> IT College </ion-select-option>
        <ion-select-option value="Vish"> Vishvidyalaya </ion-select-option>
        <ion-select-option value="KDS"> Kd Singh Statdium </ion-select-option>
        <ion-select-option value="Hazar"> Hazratganj </ion-select-option>
        <ion-select-option value="Sach"> Sachivalaya </ion-select-option>
        <ion-select-option value="Huain"> Husainganj </ion-select-option>
        <ion-select-option value="Char"> Charbagh </ion-select-option>
        <ion-select-option value="DP"> Durga Puri </ion-select-option>
        <ion-select-option value="Mawaiya"> Mawaiya </ion-select-option>
        <ion-select-option value="ABS"> Alambagh Bus Stand </ion-select-option>
        <ion-select-option value="Alambagh"> Alambagh </ion-select-option>
        <ion-select-option value="SN"> Singar Nagar </ion-select-option>
        <ion-select-option value="KNM"> Krishna Nagar Metro </ion-select-option>
        <ion-select-option value="TN"> Transport Nagar </ion-select-option>
        <ion-select-option value="AM"> Amausi Metro </ion-select-option>
        <ion-select-option value="CCSA"> CCS Airport </ion-select-option>

      </ion-select>

    </ion-item>
      
      <br>

    <ion-item>

      <ion-label> TO: </ion-label>
      <ion-select>

          <ion-select-option value="Mun"> Munshipuliya </ion-select-option>
          <ion-select-option value="IN"> Indra Nagar </ion-select-option>
          <ion-select-option value="BM"> BhootNath Market </ion-select-option>
          <ion-select-option value="LM"> Lekhraj Market </ion-select-option>
          <ion-select-option value="BN"> Badshah Nagar </ion-select-option>
          <ion-select-option value="IT"> IT College </ion-select-option>
          <ion-select-option value="Vish"> Vishvidyalaya </ion-select-option>
          <ion-select-option value="KDS"> Kd Singh Statdium </ion-select-option>
          <ion-select-option value="Hazar"> Hazratganj </ion-select-option>
          <ion-select-option value="Sach"> Sachivalaya </ion-select-option>
          <ion-select-option value="Huain"> Husainganj </ion-select-option>
          <ion-select-option value="Char"> Charbagh </ion-select-option>
          <ion-select-option value="DP"> Durga Puri </ion-select-option>
          <ion-select-option value="Mawaiya"> Mawaiya </ion-select-option>
          <ion-select-option value="ABS"> Alambagh Bus Stand </ion-select-option>
          <ion-select-option value="Alambagh"> Alambagh </ion-select-option>
          <ion-select-option value="SN"> Singar Nagar </ion-select-option>
          <ion-select-option value="KNM"> Krishna Nagar Metro </ion-select-option>
          <ion-select-option value="TN"> Transport Nagar </ion-select-option>
          <ion-select-option value="AM"> Amausi Metro </ion-select-option>
          <ion-select-option value="CCSA"> CCS Airport </ion-select-option>

      </ion-select>

    </ion-item>
  
  
  </ion-list>

</ion-content>
